*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
  overflow: hidden;
}
.v-center {
  margin-top: calc(50vh - 61px);
}
header{
  background: #fff;
  height: 60px;
  line-height: 60px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px
}
::-webkit-scrollbar-button {
  background: #08adff
}
::-webkit-scrollbar-track-piece {
  background: #888
}
/* ::-webkit-scrollbar-thumb {
  background: #eee
}​ */

.aside {
  width: 60px;
  height: calc(100vh - 60px);
  background: #555;
  color: #eee;
  float: left;
  position: relative;
}
.aside a{
  color: #eee;
  text-decoration: none;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: block;
  text-align: center;
  line-height: 50px;
}
a.active {
  color: #08daff
}
.aside .avatar {
  width: 50px;
  height: 50px;
  margin: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  background: #eee; 
}
footer {
  min-height: 60px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100vw - 60px)
}

.view-space {
  max-width: calc(100vw - 60px);
  height: calc(100vh - 120px);
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 0 120px 0;
}

/*
*
* employee style here
*
*/
.emp:hover {
box-shadow: 0 0 3px 5px #dedede;
}

.emp {
  background: #fff;
  -webkit-transition: 500ms; /* Safari */
  transition: 500ms;
  padding: 10px;
  border-bottom: 5px solid #08daff;
  border-radius: 10px;
  text-align: center;
}
.actions a:hover,.actions button:hover {
  background: #08daff;
  color: #555;
}

.actions a , .actions button{
  background: #555;
  -webkit-transition: 500ms; /* Safari */
  transition: 500ms;
  color: #fff;
  display: inline-block;
  border: none;
  font-size: 1em;
  padding: 3px 10px;
 }
 .actions a:first-child {
   border-radius: 5px 0 0 5px ;
 }
 .actions button:last-child {
   border-radius: 0 5px 5px 0;
 }
 .f-l {
  float: left;
 }

.create button:hover {
  opacity: .5;
}
.create button {
  background: #08daff;
  color: #555;
  border: none;
  font-size: 1em;
  padding: 3px 10px;
}
.row {
  margin: 10px 0 !important;
}
li.page-item.active .page-link {
  background-color: #08daff !important;
  border-color: #08daff !important;
  color: #555;
}
li.page-item.active:hover .page-link {
  background-color: #555 !important;
  border-color: #555 !important;
  color: #08daff;
}
